body{
    margin: 0;
    padding: 0;
    /* font-size: 10px; */
   font-family: 'Poppins',
   sans-serif;
    

}
.stay-focused-font{
   font-family: 'Merriweather',
   serif;
    font-size: 50px;
    margin-left: 20px;
    padding-left: 9px;
    margin-top:50px ;
    border-radius: 3px;
text-decoration: none;
}
.stay-focused-border{
    border-left: 4px solid rgba(0, 255, 0, 0.486);
    margin-left: 8px;
    padding-left: 9px;
    padding-right: 5px;
    margin-top:30px;
    border-radius: 3px;
   
}

.main-area{
     
    display: flex;
    margin: 20px 70px 5px 50px;
    font-size: 20px;
    
}
.mission-main-area{
    display: flex;
    margin: 20px 120px 5px 120px;
    font-size: 20px;

}
.stay-focused-area{
    height: 50%;
    width: 50%;
    margin-left: 100px;
    font-size: 17px;
}
#stay-focused-area{
margin-top: 90px;
    }
    h3{
        margin: 0;
        padding: 0;
    }

.stay-focused-area img{
    margin: 0;
    padding: 0;
    height: 90%;
    width: 90%;
}
h1 {
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
}
.click-button{
    background-color:#ff5959;
     color: honeydew;
     font-size: 15px;
     padding: 10px 30px;
     border-radius:5px;
     text-decoration: none;
}
.section-headline{
    color: rgb(19, 5, 46);
     font-family: 'Poppins',
     sans-serif;
     font-size: 45px;
     text-align: center;
    font-weight: 1000;
    margin-left: 10px;
    margin-right: 10px;
}

.missin-section img{
    height: 40%;
    width: 30%;
}
#missin-goal-section img{
    height: 40%;
    width: 30%;
}
.missin-section{
    font-size: 15px;
    background-color: rgb(240, 243, 243);
    padding: 10px 10px 30px 30px;
    border-radius: 30px;
    margin: 10px;
}
h1{
    font-size: 32px;
}
p{
    font-size: px;
}
#missin-goal-section{
    font-size: 15px;
    background-color: rgb(226, 231, 231);
    padding: 10px 10px 30px 30px;

    border-radius: 30px;
    margin: 10px;
}
.devolop-limits-area-left-2 img{
margin: 0;
padding: 0;
height: 80%;
width: 80%;
}
.devolop-limits-area-left-2{
    height: 50%;
    width: 45%;
}
#devolop-limits-area-right{
height: 50%;
width: 50%;
margin-top: 20px;
margin: 0;
padding: 0;
}
}
.devolop-limits-area-left-shape{
    background-image: url(images/shape.png);
    background-repeat: no-repeat;
    background-position: left;
    

}
.devolop-limits-area-left-flex{
    display: flex;
    margin-right: 110px;
   text-align: justify;
   padding-right: 25px;
   margin-left: 20px;

}
.devolop-limits-area-left-1{
    height: 50%;
    width: 10%;
}
.devolop-limits-area-left-1 img{
    height: 110%;
    width: 110%;
    margin-top: 15px;
}
.Global-Community{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;

    
}
.Corona-Application{
    height: 50%;
    width: 50%;
    margin-left: 100px;
    font-size: 17px;
}
.Corona-Application img{
    margin: 0;
    padding: 0;
    height: 90%;
    width: 70%;
}
.Corona-headline{
color: #000;
font-family: 'Poppins',
sans-serif;
font-size: 45px;

font-weight: 1000;
margin-left: 10px;
margin-right: 10px;
}
#footer-font-1{
    color: rgb(255, 255, 255);
    font-family: 'Lobster Two',
    cursive;
    font-size: 37px;
    padding-bottom:20px;
}
footer{
    background-color: rgb(1, 24, 26);
    color: #fff;
    text-align: center;
    padding: 40px;
}
.footer-font-2{
    font-size: 13px;
    color: rgb(161, 136, 136);
}

